<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Home Page</title>
  </head>

  <body class="bg-light">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/answers">Survay Results</a>
            </li>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Survay form about healthy style life</h2>
        <p class="lead">Below is an survay form to valute the healthy style life in Spain, please be honest the results
                        will be part of an important scientific investigation. </p>
      </div>

      <div class="row">
        <div class="col-md-12 order-md-1">
          <div class="row">
            <div class="col-md-12 mb-3">
              <% if @data["error"] %>
                <p class="lead" style="color:red" ><%= @data["msg_survay"] %></p>
              <% else %>
                <p class="lead" style="color:green" ><%= @data["msg_survay"] %></p>
              <% end %>
            </div>
          </div>
          <form class="needs-validation" method="POST" novalidate>
            <div class="mb-3">
              <label for="mail">Mail</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="email" class="form-control" name="mail" id="mail" placeholder="Mail" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your mail is required.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="gender">Gender</label>
                <select class="custom-select d-block w-100" name="gender" id="gender" required>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="age">How old are you?</label>
                <select class="custom-select d-block w-100" name="age" id="age" required>
                  <% (18..100).each do |i| %>
                    <option value="<%= i %>"><%= i %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="smoke">Do you smoke?</label>
                <select class="custom-select d-block w-100" name="smoke" id="smoke" required>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="alcohol">Do you drink alcohol every week?</label>
                <select class="custom-select d-block w-100" name="alcohol" id="alcohol" required>
                  <option value="never">Never</option>
                  <option value="on_weekend">On Weekend</option>
                  <option value="on_weekend">Every day</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="hour_of_sport">How often do you do sport every day?</label>
                <select class="custom-select d-block w-100" name="hour_of_sport" id="hour_of_sport" required>
                  <option value="0">0 hours</option>
                  <option value="1">1 hours</option>
                  <option value="2">2 hours</option>
                  <option value="3">3 hours</option>
                  <option value="more_of_3">More than 3 hours</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="litre_per_day">How many litres of water do you drink everyday?</label>
                <select class="custom-select d-block w-100" name="litre_per_day" id="litre_per_day" required>
                  <option value="0">Less than 1 litre</option>
                  <option value="1">1 litre</option>
                  <option value="2">2 litre</option>
                  <option value="3">More than 3 litres</option>
                </select>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
          </form>
        </div>
      </div>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
